# Azure Speech Service Configuration
AZURE_SPEECH_KEY=your_speech_service_key_here
AZURE_SPEECH_REGION=swedencentral
SPEECH_TO_TEXT_ENDPOINT=https://swedencentral.stt.speech.microsoft.com

# Azure Storage Configuration
AZURE_STORAGE_CONNECTION_STRING=your_connection_string_here
AZURE_STORAGE_ACCOUNT_NAME=nameofstorageaccount
AZURE_STORAGE_SAS_TOKEN=your_sas_token_here
AZURE_STORAGE_KEY=your_storage_key_here

# Blob Storage Containers
INPUT_CONTAINER=adic-audio-input
OUTPUT_CONTAINER=adic-transcription-pdf